<h1>Angular Reading List of Awesome!</h1>

<div class="row" ng-controller="ReadingListController as readingListCtrl">

    <button class="btn btn-default">
        Create a Review
    </button>
    <hr>
    <!--review-form-->

    <hr>

    <ul class="list-unstyled col-sm-8">
        <li class="book row" ng-repeat="book in readingListCtrl.books">
            <!--book-cover-->
            <ng-include src="'partials/book-cover.html'"></ng-include>
            <div class="col-sm-9">
                <h3>
                    <a href="http://www.amazon.com/gp/product/{{ book.isbn }}">
                        {{ book.title }}
                    </a>
                </h3>

                <cite class="text-muted">Written by {{ book.author }}</cite>

                <p>{{ book.review }}</p>

                <div>
                    <ul class="list-unstyled">
                        <li class="genre-labels"> <!--(key, value can be called anything e.g. 'genre')-->
                            <span class="label label-primary" ng-repeat="(key, value) in book.genres" ng-show="value">{{ key }}</span>
                        </li>
                    </ul>
                </div>

            </div>
        </li>
    </ul>
</div>