<h1>Angular Reading List of Awesome!</h1>

<div class="row">

    <button class="btn btn-default">
        Create a Review
    </button>
    <hr>
    <!--review-form-->

    <hr>

    <ul class="list-unstyled col-sm-8">
        <li class="book row">
            <aside class="col-sm-3">

                <a href="http://www.amazon.com/gp/product/0553593714">
                    <img
                            ng-src="http://images.amazon.com/images/P/0553593714.01.ZTZZZZZZ.jpg"
                            alt="Cover of A Game of Thrones: A Song of Ice and Fire" class="full"
                            src="http://images.amazon.com/images/P/0553593714.01.ZTZZZZZZ.jpg"></a>

                <p class="rating goodRating">4/5</p>
            </aside>
            <div class="col-sm-9">
                <h3><a href="http://www.amazon.com/gp/product/0553593714">A Game of Thrones: A
                    Song of Ice and Fire</a></h3>

                <cite class="text-muted">Written by George R.R. Martin</cite>

                <p>The most inventive and entertaining fantasy saga of our time—warrants one hell
                    of an introduction. I loved this book!</p>

                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span class="label label-primary">fantasy</span>
                        </li>
                        <li>
                            <span class="label label-primary">non-fiction</span>
                        </li>
                    </ul>
                </div>

            </div>
        </li>
    </ul>
</div>