<h1>Angular Reading List of Awesome!</h1>

<div class="row">

    <button class="btn btn-default">
        Create a Review
    </button>
    <hr>
    <!--review-form-->

    <hr>

    <ul class="list-unstyled col-sm-8">
        <li class="book row">
            <aside class="col-sm-3">

                <a href="http://www.amazon.com/gp/product/0553593714">
                    <img
                            ng-src="http://images.amazon.com/images/P/0553593714.01.ZTZZZZZZ.jpg"
                            alt="Cover of A Game of Thrones: A Song of Ice and Fire" class="full"
                            src="http://images.amazon.com/images/P/0553593714.01.ZTZZZZZZ.jpg"></a>

                <p class="rating goodRating">4/5</p>
            </aside>
            <div class="col-sm-9">
                <h3><a href="http://www.amazon.com/gp/product/0553593714">A Game of Thrones: A
                    Song of Ice and Fire</a></h3>

                <cite class="text-muted">Written by George R.R. Martin</cite>

                <p>The most inventive and entertaining fantasy saga of our time—warrants one hell
                    of an introduction. I loved this book!</p>

                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span class="label label-primary">fantasy</span>
                        </li>
                        <li>
                            <span class="label label-primary">non-fiction</span>
                        </li>
                    </ul>
                </div>

            </div>
        </li><!-- end ngRepeat: book in readingListCtrl.books -->
        <li class="book row">
            <aside class="col-sm-3">

                <a href="http://www.amazon.com/gp/product/0615487661">
                    <img
                            ng-src="http://images.amazon.com/images/P/0615487661.01.ZTZZZZZZ.jpg"
                            alt="Cover of HTML for Babies" class="full"
                            src="http://images.amazon.com/images/P/0615487661.01.ZTZZZZZZ.jpg">
                </a>

                <p class="rating goodRating">5/5</p>
            </aside>
            <div class="col-sm-9">
                <h3>
                    <a href="http://www.amazon.com/gp/product/0615487661">HTML for Babies</a>
                </h3>

                <cite class="text-muted">Written by John C Vanden-Heuvel Sr</cite>

                <p>It's never too early to be standards compliant! I taught my little one mark-up
                    in under one hour!</p>

                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span class="label label-primary">fiction</span>
                        </li>
                    </ul>
                </div>

            </div>
        </li>
        <li class="book row">

            <!--book-cover-->

            <div class="col-sm-9">
                <h3><a href="http://www.amazon.com/gp/product/1489522212">A is for Array</a></h3>

                <cite class="text-muted">Written by Brandon J Hansen</cite>

                <p>A is for Array is the ABC book for future programmers. Filled with fun
                    illustrations and simple real-world examples, my children loved seeing my world intertwined with
                    theirs!</p>

                <!--book-genres-->

            </div>
        </li>
        <li class="book row">
            <aside class="col-sm-3">

                <a href="http://www.amazon.com/gp/product/0812513711">
                    <img
                            ng-src="http://images.amazon.com/images/P/0812513711.01.ZTZZZZZZ.jpg"
                            alt="Cover of The Dragon Reborn" class="full"
                            src="http://images.amazon.com/images/P/0812513711.01.ZTZZZZZZ.jpg"></a>

                <p class="rating goodRating">4/5</p>
            </aside>
            <div class="col-sm-9">
                <h3><a href="http://www.amazon.com/gp/product/0812513711">The Dragon Reborn</a>
                </h3>

                <cite class="text-muted">Written by Robert Jordan</cite>

                <p>The Wheel weaves as the Wheel wills, and we are only the thread of the
                    Pattern. Moiraine</p>

                <div>
                    <ul class="list-unstyled">
                        <li>
                            <span class="label label-primary">fantasy</span>
                        </li>
                        <li>
                            <span class="label label-primary">non-fiction</span>
                        </li>
                    </ul>
                </div>

            </div>
        </li>
    </ul>
</div>